/* Variables */

:root {
    --primary-color: rgb(202, 74, 74);
    --secundary-color: rgb(233, 209, 72);
    --gradient-orange-red: linear-gradient(50deg, var(--primary-color), var(--secundary-color));
    --off-white: #FAF8F7;
    --off-white: #ffffff;
    --off-white: #FAF8F7;
}

/* Configuracion inicial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Mega', sans-serif;
}

/* Contenido del Layout */
header {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background:linear-gradient(50deg, var(--primary-color), var(--secundary-color));
    padding: 0;
    margin: 0;
    font-family: 'Saira', sans-serif;
    color: var(--off-white);
}

header h2 {
    font-size: 2.4rem;
}

.header-logo--container img {
    width: 70%;
    min-width: 215px;
    min-height: 200px;
    max-width: 431px;
    max-height: 400px;
    background-size: cover;
}
/* Barra de Navegación Mobile */
.nav--navegation {
    min-width: 320px;
    padding: 0;
    margin: 0;
    background: var(--gradient-orange-red);
}
.nav--navegation  > ul {
    display: flex;    
}

.nav--navegation  > ul > li {
    font-size: 3rem;
    list-style: none;
}

.nav--navegation .item-1 {
    background-color:var(--primary-color);
}

.nav--navegation .item-2 {
    background-color:var(--secundary-color);
}
/* 
nav > ul > li > ul {
    display: none;
    position: absolute;
    text-align: left;
}

.nav--navegation > ul > li:hover > ul {
    color: white;
    list-style: none;
    background-color: var(--primary-color);
} */
.menu li {
    font-size: 1.6rem;
    padding: 15px 5px;
    white-space: nowrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    min-width: 320px;
    background: linear-gradient(50deg, var(--primary-color), var(--secundary-color));
    padding: 0;
    margin: 0;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: flex;
}

/* Fin de estilos barra de navegación mobile */
.cards {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    min-height: 200px;
}

.main_section--cards {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 320px;
    height: auto;
}

.main_section--cards .cards {
    background-color: palevioletred;
    border-radius: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards p {
    font-size: 1.8rem;
    margin-top: 25px;
}

