/* Variables */

:root {
    --primary-color: rgb(202, 74, 74);
    --secundary-color: rgb(233, 209, 72);
    --terciary-color: 
}

/* Configuracion inicial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Contenido del Layout */
header {
    height: 35rem;
    background:linear-gradient(50deg, var(--primary-color), var(--secundary-color));
}

/* Barra de Navegación Mobile */

.nav-bar > ul {
    display: flex;    
}

.nav-bar > ul > li {
    font-size: 3rem;
    list-style: none;
}

.nav-bar .item-1 {
    background-color:var(--primary-color);
}

.nav-bar .item-2 {
    background-color:var(--secundary-color);
}

nav > ul > li > ul {
    display:none;
    position: absolute;
    text-align: left;
}

.nav-bar > ul > li:hover > ul {
    color: white;
    list-style: none;
    background-color: var(--primary-color);
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* .toggle {
    order: 1;
} */

main {
    display: flex;
    background: linear-gradient(50deg, var(--primary-color), var(--secundary-color));
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

/* Fin de estilos barra de navegación mobile */

.section-main {
    display: flex;
    flex-flow: column;
}

.cards {
    background-color: palevioletred;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.cards p {
    font-size: 4rem;
}

